In [2]:
import pandas as pd
import numpy as np

In [9]:
titanic = pd.read_csv('titanic.csv')

In [5]:
titanic.T #titanic.transpose() also works.

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
pclass,3,1,3,1,3,3,1,3,3,2,...,3,3,2,3,3,2,1,3,1,3
sex,male,female,female,female,male,male,male,male,female,female,...,male,female,male,male,female,male,female,female,male,male
age,22,38,26,35,35,NaN,54,2,27,14,...,33,22,28,25,39,27,19,NaN,26,32
sibsp,1,1,0,1,0,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
parch,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,5,0,0,2,0,0
fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,...,7.8958,10.5167,10.5,7.05,29.125,13,30,23.45,30,7.75
embarked,S,C,S,S,S,Q,S,S,S,C,...,S,S,S,S,Q,S,S,S,C,Q
deck,NaN,C,NaN,C,NaN,NaN,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,C,NaN

In [15]:
#columns get converted into object type as columns are mixed in a way.
titanic.T.T.info()
titanic.survived.mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
survived    891 non-null object
pclass      891 non-null object
sex         891 non-null object
age         714 non-null object
sibsp       891 non-null object
parch       891 non-null object
fare        891 non-null object
embarked    889 non-null object
deck        203 non-null object
dtypes: object(9)
memory usage: 62.7+ KB

0.3838383838383838

In [20]:
#groupby().survived.mean() requires numeric type to compute the mean.
#its more functional to use unstack() instead.
titanic.groupby(['sex', 'pclass']).survived.mean().unstack().T
#This use of T or transpose() makes more sense.

sex       female      male
pclass
1       0.968085  0.368852
2       0.921053  0.157407
3       0.500000  0.135447

In [21]:
table1 = pd.read_csv('table1.csv')

In [22]:
table1

    Country   Medal  Count
0       AFG  Bronze      2
1       AHO  Silver      1
2       ALG  Bronze      8
3       ALG    Gold      5
4       ALG  Silver      2
5       ANZ  Bronze      5
6       ANZ    Gold     20
7       ANZ  Silver      4
8       ARG  Bronze     91
9       ARG    Gold     69
10      ARG  Silver     99
11      ARM  Bronze      8
12      ARM    Gold      1
13      ARM  Silver      2
14      AUS  Bronze    472
15      AUS    Gold    312
16      AUS  Silver    405
17      AUT  Bronze     44
18      AUT    Gold     21
19      AUT  Silver     81
20      AZE  Bronze     15
21      AZE    Gold      6
22      AZE  Silver      5
23      BAH  Bronze      5
24      BAH    Gold     13
25      BAH  Silver      9
26      BAR  Bronze      1
27      BDI    Gold      1
28      BEL  Bronze    152
29      BEL    Gold     91
..      ...     ...    ...
317     UKR  Bronze     90
318     UKR    Gold     41
319     UKR  Silver     42
320     URS  Bronze    584
321     URS    Gold    838
322     URS  Silver    627
323     URU  Bronze     30
324     URU    Gold     44
325     URU  Silver      2
326     USA  Bronze   1098
327     USA    Gold   2235
328     USA  Silver   1252
329     UZB  Bronze     10
330     UZB    Gold      5
331     UZB  Silver      5
332     VEN  Bronze      8
333     VEN    Gold      2
334     VEN  Silver      2
335     VIE  Silver      2
336     YUG  Bronze    118
337     YUG    Gold    143
338     YUG  Silver    174
339     ZAM  Bronze      1
340     ZAM  Silver      1
341     ZIM  Bronze      1
342     ZIM    Gold     18
343     ZIM  Silver      4
344     ZZX  Bronze     10
345     ZZX    Gold     23
346     ZZX  Silver     15

[347 rows x 3 columns]

In [23]:
table1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 3 columns):
Country    347 non-null object
Medal      347 non-null object
Count      347 non-null int64
dtypes: int64(1), object(2)
memory usage: 8.2+ KB

In [27]:
#to convert Bronze, Silver, Gold into separate columns, we can use pivot.
table1.pivot(index= 'Country', columns='Medal', values= 'Count')

Medal    Bronze    Gold  Silver
Country
AFG         2.0     NaN     NaN
AHO         NaN     NaN     1.0
ALG         8.0     5.0     2.0
ANZ         5.0    20.0     4.0
ARG        91.0    69.0    99.0
ARM         8.0     1.0     2.0
AUS       472.0   312.0   405.0
AUT        44.0    21.0    81.0
AZE        15.0     6.0     5.0
BAH         5.0    13.0     9.0
BAR         1.0     NaN     NaN
BDI         NaN     1.0     NaN
BEL       152.0    91.0   168.0
BER         1.0     NaN     NaN
BLR        59.0    17.0    37.0
BOH         6.0     NaN     1.0
BOT         NaN     NaN     1.0
BRA       185.0    73.0   173.0
BRN         1.0     NaN     NaN
BUL       137.0    53.0   143.0
BWI         5.0     NaN     NaN
CAN       262.0   155.0   232.0
CHI        21.0     3.0     9.0
CHN       221.0   290.0   296.0
CIV         NaN     NaN     1.0
CMR         2.0    20.0     1.0
COL        11.0     2.0     6.0
CRC         2.0     1.0     1.0
CRO        34.0    46.0    34.0
CUB       116.0   165.0   129.0
...         ...     ...     ...
SUD         NaN     NaN     1.0
SUI       138.0    75.0   167.0
SUR         1.0     1.0     NaN
SVK        12.0    10.0    12.0
SWE       328.0   349.0   367.0
SYR         1.0     1.0     1.0
TAN         NaN     NaN     2.0
TCH       105.0    80.0   144.0
TGA         NaN     NaN     1.0
THA        12.0     7.0     6.0
TJK         2.0     NaN     1.0
TOG         1.0     NaN     NaN
TPE        14.0     3.0    27.0
TRI        11.0     1.0     8.0
TTO         5.0     1.0     4.0
TUN         4.0     4.0     2.0
TUR        23.0    38.0    25.0
UAE         NaN     1.0     NaN
UGA         2.0     2.0     3.0
UKR        90.0    41.0    42.0
URS       584.0   838.0   627.0
URU        30.0    44.0     2.0
USA      1098.0  2235.0  1252.0
UZB        10.0     5.0     5.0
VEN         8.0     2.0     2.0
VIE         NaN     NaN     2.0
YUG       118.0   143.0   174.0
ZAM         1.0     NaN     1.0
ZIM         1.0    18.0     4.0
ZZX        10.0    23.0    15.0

[147 rows x 3 columns]

In [28]:
table1_piv=table1.pivot(index= 'Country', columns='Medal', values= 'Count').fillna(0)

In [29]:
table1_piv

Medal    Bronze    Gold  Silver
Country
AFG         2.0     0.0     0.0
AHO         0.0     0.0     1.0
ALG         8.0     5.0     2.0
ANZ         5.0    20.0     4.0
ARG        91.0    69.0    99.0
ARM         8.0     1.0     2.0
AUS       472.0   312.0   405.0
AUT        44.0    21.0    81.0
AZE        15.0     6.0     5.0
BAH         5.0    13.0     9.0
BAR         1.0     0.0     0.0
BDI         0.0     1.0     0.0
BEL       152.0    91.0   168.0
BER         1.0     0.0     0.0
BLR        59.0    17.0    37.0
BOH         6.0     0.0     1.0
BOT         0.0     0.0     1.0
BRA       185.0    73.0   173.0
BRN         1.0     0.0     0.0
BUL       137.0    53.0   143.0
BWI         5.0     0.0     0.0
CAN       262.0   155.0   232.0
CHI        21.0     3.0     9.0
CHN       221.0   290.0   296.0
CIV         0.0     0.0     1.0
CMR         2.0    20.0     1.0
COL        11.0     2.0     6.0
CRC         2.0     1.0     1.0
CRO        34.0    46.0    34.0
CUB       116.0   165.0   129.0
...         ...     ...     ...
SUD         0.0     0.0     1.0
SUI       138.0    75.0   167.0
SUR         1.0     1.0     0.0
SVK        12.0    10.0    12.0
SWE       328.0   349.0   367.0
SYR         1.0     1.0     1.0
TAN         0.0     0.0     2.0
TCH       105.0    80.0   144.0
TGA         0.0     0.0     1.0
THA        12.0     7.0     6.0
TJK         2.0     0.0     1.0
TOG         1.0     0.0     0.0
TPE        14.0     3.0    27.0
TRI        11.0     1.0     8.0
TTO         5.0     1.0     4.0
TUN         4.0     4.0     2.0
TUR        23.0    38.0    25.0
UAE         0.0     1.0     0.0
UGA         2.0     2.0     3.0
UKR        90.0    41.0    42.0
URS       584.0   838.0   627.0
URU        30.0    44.0     2.0
USA      1098.0  2235.0  1252.0
UZB        10.0     5.0     5.0
VEN         8.0     2.0     2.0
VIE         0.0     0.0     2.0
YUG       118.0   143.0   174.0
ZAM         1.0     0.0     1.0
ZIM         1.0    18.0     4.0
ZZX        10.0    23.0    15.0

[147 rows x 3 columns]

In [31]:
table1_piv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, AFG to ZZX
Data columns (total 3 columns):
Bronze    147 non-null float64
Gold      147 non-null float64
Silver    147 non-null float64
dtypes: float64(3)
memory usage: 4.6+ KB

In [34]:
table1.set_index(['Country','Medal']).unstack(fill_value=0)

         Count
Medal   Bronze  Gold Silver
Country
AFG          2     0      0
AHO          0     0      1
ALG          8     5      2
ANZ          5    20      4
ARG         91    69     99
ARM          8     1      2
AUS        472   312    405
AUT         44    21     81
AZE         15     6      5
BAH          5    13      9
BAR          1     0      0
BDI          0     1      0
BEL        152    91    168
BER          1     0      0
BLR         59    17     37
BOH          6     0      1
BOT          0     0      1
BRA        185    73    173
BRN          1     0      0
BUL        137    53    143
BWI          5     0      0
CAN        262   155    232
CHI         21     3      9
CHN        221   290    296
CIV          0     0      1
CMR          2    20      1
COL         11     2      6
CRC          2     1      1
CRO         34    46     34
CUB        116   165    129
...        ...   ...    ...
SUD          0     0      1
SUI        138    75    167
SUR          1     1      0
SVK         12    10     12
SWE        328   349    367
SYR          1     1      1
TAN          0     0      2
TCH        105    80    144
TGA          0     0      1
THA         12     7      6
TJK          2     0      1
TOG          1     0      0
TPE         14     3     27
TRI         11     1      8
TTO          5     1      4
TUN          4     4      2
TUR         23    38     25
UAE          0     1      0
UGA          2     2      3
UKR         90    41     42
URS        584   838    627
URU         30    44      2
USA       1098  2235   1252
UZB         10     5      5
VEN          8     2      2
VIE          0     0      2
YUG        118   143    174
ZAM          1     0      1
ZIM          1    18      4
ZZX         10    23     15

[147 rows x 3 columns]

#### Limitations of pivot

In [35]:
table2 = pd.read_csv('table2.csv')

In [36]:
table2

     Country  Year   Medal  Count
0        AFG  2008  Bronze      1
1        AFG  2012  Bronze      1
2        AHO  1988  Silver      1
3        ALG  1984  Bronze      2
4        ALG  1992  Bronze      1
5        ALG  1992    Gold      1
6        ALG  1996  Bronze      1
7        ALG  1996    Gold      2
8        ALG  2000  Bronze      3
9        ALG  2000    Gold      1
10       ALG  2000  Silver      1
11       ALG  2008  Bronze      1
12       ALG  2008  Silver      1
13       ALG  2012    Gold      1
14       ANZ  1908  Bronze      2
15       ANZ  1908    Gold     15
16       ANZ  1908  Silver      2
17       ANZ  1912  Bronze      3
18       ANZ  1912    Gold      5
19       ANZ  1912  Silver      2
20       ARG  1924  Bronze      2
21       ARG  1924    Gold      6
22       ARG  1924  Silver      3
23       ARG  1928  Bronze      5
24       ARG  1928    Gold      3
25       ARG  1928  Silver     24
26       ARG  1932    Gold      3
27       ARG  1932  Silver      1
28       ARG  1936  Bronze      4
29       ARG  1936    Gold      5
...      ...   ...     ...    ...
2517     YUG  1980    Gold     13
2518     YUG  1980  Silver     27
2519     YUG  1984  Bronze     35
2520     YUG  1984    Gold     47
2521     YUG  1984  Silver      5
2522     YUG  1988  Bronze     21
2523     YUG  1988    Gold     15
2524     YUG  1988  Silver     27
2525     YUG  1996  Bronze     13
2526     YUG  1996    Gold      1
2527     YUG  1996  Silver     12
2528     YUG  2000  Bronze     13
2529     YUG  2000    Gold     12
2530     YUG  2000  Silver      1
2531     ZAM  1984  Bronze      1
2532     ZAM  1996  Silver      1
2533     ZIM  1980    Gold     16
2534     ZIM  2004  Bronze      1
2535     ZIM  2004    Gold      1
2536     ZIM  2004  Silver      1
2537     ZIM  2008    Gold      1
2538     ZIM  2008  Silver      3
2539     ZZX  1896  Bronze      2
2540     ZZX  1896    Gold      2
2541     ZZX  1896  Silver      2
2542     ZZX  1900  Bronze      8
2543     ZZX  1900    Gold     18
2544     ZZX  1900  Silver      8
2545     ZZX  1904    Gold      3
2546     ZZX  1904  Silver      5

[2547 rows x 4 columns]

In [38]:
# duplicates in table2.
#pivot() method is not designed for multi-index.
table2.pivot(index = 'Country', columns= 'Medal', values = 'Count')
#confused with duplicate locations.

ValueError: Index contains duplicate entries, cannot reshape

In [44]:
table2.groupby(['Country', 'Year', 'Medal']).Count.sum().unstack(fill_value=0)

Medal         Bronze  Gold  Silver
Country Year
AFG     2008       1     0       0
        2012       1     0       0
AHO     1988       0     0       1
ALG     1984       2     0       0
        1992       1     1       0
        1996       1     2       0
        2000       3     1       1
        2008       1     0       1
        2012       0     1       0
ANZ     1908       2    15       2
        1912       3     5       2
ARG     1924       2     6       3
        1928       5     3      24
        1932       0     3       1
        1936       4     5       2
        1948       1     3       8
        1952       2     2       2
        1956       1     0       1
        1960       1     0       3
        1964       0     0       1
        1968       2     0       0
        1972       0     0       1
        1988      12     0       1
        1992       2     0       0
        1996       1     0      19
        2000       3     0      17
        2004      21    26       0
        2008      31    20       0
        2012       3     1      16
ARM     1996       0     1       1
...              ...   ...     ...
VEN     1984       3     0       0
        2004       2     0       0
        2008       1     0       0
        2012       0     1       0
VIE     2000       0     0       1
        2008       0     0       1
YUG     1924       0     2       0
        1928      10     1       1
        1936       0     0       1
        1948       0     0      16
        1952       0     4      20
        1956       0     0      23
        1960       0    16       1
        1964       2     2      11
        1968       2    13      14
        1972       2    15       1
        1976       3     2      14
        1980      17    13      27
        1984      35    47       5
        1988      21    15      27
        1996      13     1      12
        2000      13    12       1
ZAM     1984       1     0       0
        1996       0     0       1
ZIM     1980       0    16       0
        2004       1     1       1
        2008       0     1       3
ZZX     1896       2     2       2
        1900       8    18       8
        1904       0     3       5

[1157 rows x 3 columns]

#### pivot table

In [66]:
table2.pivot_table(index= 'Country', columns='Medal', values= 'Count',#default aggfunc is 'mean'
                   aggfunc= 'sum',fill_value=0,margins=True,margins_name='Total')

Medal    Bronze   Gold  Silver  Total
Country
AFG           2      0       0      2
AHO           0      0       1      1
ALG           8      5       2     15
ANZ           5     20       4     29
ARG          91     69      99    259
ARM           8      1       2     11
AUS         472    312     405   1189
AUT          44     21      81    146
AZE          15      6       5     26
BAH           5     13       9     27
BAR           1      0       0      1
BDI           0      1       0      1
BEL         152     91     168    411
BER           1      0       0      1
BLR          59     17      37    113
BOH           6      0       1      7
BOT           0      0       1      1
BRA         185     73     173    431
BRN           1      0       0      1
BUL         137     53     143    333
BWI           5      0       0      5
CAN         262    155     232    649
CHI          21      3       9     33
CHN         221    290     296    807
CIV           0      0       1      1
CMR           2     20       1     23
COL          11      2       6     19
CRC           2      1       1      4
CRO          34     46      34    114
CUB         116    165     129    410
...         ...    ...     ...    ...
SUI         138     75     167    380
SUR           1      1       0      2
SVK          12     10      12     34
SWE         328    349     367   1044
SYR           1      1       1      3
TAN           0      0       2      2
TCH         105     80     144    329
TGA           0      0       1      1
THA          12      7       6     25
TJK           2      0       1      3
TOG           1      0       0      1
TPE          14      3      27     44
TRI          11      1       8     20
TTO           5      1       4     10
TUN           4      4       2     10
TUR          23     38      25     86
UAE           0      1       0      1
UGA           2      2       3      7
UKR          90     41      42    173
URS         584    838     627   2049
URU          30     44       2     76
USA        1098   2235    1252   4585
UZB          10      5       5     20
VEN           8      2       2     12
VIE           0      0       2      2
YUG         118    143     174    435
ZAM           1      0       1      2
ZIM           1     18       4     23
ZZX          10     23      15     48
Total     10369  10484   10308  31161

[148 rows x 4 columns]

In [54]:
table2.groupby(['Country','Medal']).Count.sum().unstack().fillna(0)#same as pivot_table
#no built in func margins for groupby

Medal    Bronze    Gold  Silver
Country
AFG         2.0     0.0     0.0
AHO         0.0     0.0     1.0
ALG         8.0     5.0     2.0
ANZ         5.0    20.0     4.0
ARG        91.0    69.0    99.0
ARM         8.0     1.0     2.0
AUS       472.0   312.0   405.0
AUT        44.0    21.0    81.0
AZE        15.0     6.0     5.0
BAH         5.0    13.0     9.0
BAR         1.0     0.0     0.0
BDI         0.0     1.0     0.0
BEL       152.0    91.0   168.0
BER         1.0     0.0     0.0
BLR        59.0    17.0    37.0
BOH         6.0     0.0     1.0
BOT         0.0     0.0     1.0
BRA       185.0    73.0   173.0
BRN         1.0     0.0     0.0
BUL       137.0    53.0   143.0
BWI         5.0     0.0     0.0
CAN       262.0   155.0   232.0
CHI        21.0     3.0     9.0
CHN       221.0   290.0   296.0
CIV         0.0     0.0     1.0
CMR         2.0    20.0     1.0
COL        11.0     2.0     6.0
CRC         2.0     1.0     1.0
CRO        34.0    46.0    34.0
CUB       116.0   165.0   129.0
...         ...     ...     ...
SUD         0.0     0.0     1.0
SUI       138.0    75.0   167.0
SUR         1.0     1.0     0.0
SVK        12.0    10.0    12.0
SWE       328.0   349.0   367.0
SYR         1.0     1.0     1.0
TAN         0.0     0.0     2.0
TCH       105.0    80.0   144.0
TGA         0.0     0.0     1.0
THA        12.0     7.0     6.0
TJK         2.0     0.0     1.0
TOG         1.0     0.0     0.0
TPE        14.0     3.0    27.0
TRI        11.0     1.0     8.0
TTO         5.0     1.0     4.0
TUN         4.0     4.0     2.0
TUR        23.0    38.0    25.0
UAE         0.0     1.0     0.0
UGA         2.0     2.0     3.0
UKR        90.0    41.0    42.0
URS       584.0   838.0   627.0
URU        30.0    44.0     2.0
USA      1098.0  2235.0  1252.0
UZB        10.0     5.0     5.0
VEN         8.0     2.0     2.0
VIE         0.0     0.0     2.0
YUG       118.0   143.0   174.0
ZAM         1.0     0.0     1.0
ZIM         1.0    18.0     4.0
ZZX        10.0    23.0    15.0

[147 rows x 3 columns]

In [56]:
agg =table2.groupby(['Country','Medal']).Count.sum().unstack().fillna(0)

In [67]:
agg['Total']= agg.sum(axis = 1)#for column.

In [68]:
agg.loc['Total']= agg.sum(axis=0)#for row.

In [63]:
agg

Medal     Bronze     Gold   Silver      All
Country
AFG          2.0      0.0      0.0      2.0
AHO          0.0      0.0      1.0      1.0
ALG          8.0      5.0      2.0     15.0
ANZ          5.0     20.0      4.0     29.0
ARG         91.0     69.0     99.0    259.0
ARM          8.0      1.0      2.0     11.0
AUS        472.0    312.0    405.0   1189.0
AUT         44.0     21.0     81.0    146.0
AZE         15.0      6.0      5.0     26.0
BAH          5.0     13.0      9.0     27.0
BAR          1.0      0.0      0.0      1.0
BDI          0.0      1.0      0.0      1.0
BEL        152.0     91.0    168.0    411.0
BER          1.0      0.0      0.0      1.0
BLR         59.0     17.0     37.0    113.0
BOH          6.0      0.0      1.0      7.0
BOT          0.0      0.0      1.0      1.0
BRA        185.0     73.0    173.0    431.0
BRN          1.0      0.0      0.0      1.0
BUL        137.0     53.0    143.0    333.0
BWI          5.0      0.0      0.0      5.0
CAN        262.0    155.0    232.0    649.0
CHI         21.0      3.0      9.0     33.0
CHN        221.0    290.0    296.0    807.0
CIV          0.0      0.0      1.0      1.0
CMR          2.0     20.0      1.0     23.0
COL         11.0      2.0      6.0     19.0
CRC          2.0      1.0      1.0      4.0
CRO         34.0     46.0     34.0    114.0
CUB        116.0    165.0    129.0    410.0
...          ...      ...      ...      ...
SUI        138.0     75.0    167.0    380.0
SUR          1.0      1.0      0.0      2.0
SVK         12.0     10.0     12.0     34.0
SWE        328.0    349.0    367.0   1044.0
SYR          1.0      1.0      1.0      3.0
TAN          0.0      0.0      2.0      2.0
TCH        105.0     80.0    144.0    329.0
TGA          0.0      0.0      1.0      1.0
THA         12.0      7.0      6.0     25.0
TJK          2.0      0.0      1.0      3.0
TOG          1.0      0.0      0.0      1.0
TPE         14.0      3.0     27.0     44.0
TRI         11.0      1.0      8.0     20.0
TTO          5.0      1.0      4.0     10.0
TUN          4.0      4.0      2.0     10.0
TUR         23.0     38.0     25.0     86.0
UAE          0.0      1.0      0.0      1.0
UGA          2.0      2.0      3.0      7.0
UKR         90.0     41.0     42.0    173.0
URS        584.0    838.0    627.0   2049.0
URU         30.0     44.0      2.0     76.0
USA       1098.0   2235.0   1252.0   4585.0
UZB         10.0      5.0      5.0     20.0
VEN          8.0      2.0      2.0     12.0
VIE          0.0      0.0      2.0      2.0
YUG        118.0    143.0    174.0    435.0
ZAM          1.0      0.0      1.0      2.0
ZIM          1.0     18.0      4.0     23.0
ZZX         10.0     23.0     15.0     48.0
All      10369.0  10484.0  10308.0  31161.0

[148 rows x 4 columns]

### pd.crosstab()

In [75]:
#cross tabulations for frequencies, that is count of one respct to other.
pd.crosstab(titanic.sex, titanic.pclass, margins=True,normalize=True)

pclass         1         2         3       All
sex
female  0.105499  0.085297  0.161616  0.352413
male    0.136925  0.121212  0.389450  0.647587
All     0.242424  0.206510  0.551066  1.000000

In [72]:
titanic.groupby(['sex','pclass']).pclass.count().unstack()

pclass    1    2    3
sex
female   94   76  144
male    122  108  347

In [76]:
#pd.crosstab() additional functionalities.
#titanic.sex and titanic.pclass can be from different df.
pd.crosstab(titanic.sex, titanic.pclass, values = titanic.age, aggfunc='mean')

pclass          1          2          3
sex
female  34.611765  28.722973  21.750000
male    41.281386  30.740707  26.507589

In [77]:
#above can be achieved with pivot_table with 'age' values.
#one titanic df is applied to pivot_table. Limited to one df.
titanic.pivot_table(index='sex',columns='pclass', values= 'age',aggfunc='mean')

pclass          1          2          3
sex
female  34.611765  28.722973  21.750000
male    41.281386  30.740707  26.507589

In [78]:
titanic.groupby(['sex','pclass']).age.mean().unstack()

pclass          1          2          3
sex
female  34.611765  28.722973  21.750000
male    41.281386  30.740707  26.507589

In [83]:
#another example
pd.crosstab(titanic.sex, titanic.pclass, values = titanic.fare, 
            aggfunc='sum',margins=True,normalize=True)

pclass         1         2         3       All
sex
female  0.347663  0.058191  0.080892  0.486746
male    0.285830  0.074305  0.153119  0.513254
All     0.633493  0.132496  0.234011  1.000000

In [85]:
summer=pd.read_csv('summer.csv')

In [98]:
pd.crosstab(index=[summer.Year, summer.Country],columns=summer.Medal,values= summer.Athlete,
            aggfunc='count',margins=True).fillna(0)

Medal          Bronze     Gold   Silver    All
Year Country
1896 AUS          0.0      2.0      0.0      2
     AUT          2.0      2.0      1.0      5
     DEN          3.0      1.0      2.0      6
     FRA          2.0      5.0      4.0     11
     GBR          2.0      2.0      3.0      7
     GER          2.0     26.0      5.0     33
     GRE         22.0     10.0     20.0     52
     HUN          3.0      2.0      1.0      6
     SUI          0.0      1.0      2.0      3
     USA          2.0     11.0      7.0     20
     ZZX          2.0      2.0      2.0      6
1900 AUS          3.0      2.0      0.0      5
     AUT          3.0      0.0      3.0      6
     BEL         15.0      5.0     19.0     39
     BOH          1.0      0.0      1.0      2
     CAN          1.0      1.0      0.0      2
     CUB          0.0      1.0      1.0      2
     DEN          2.0      1.0      3.0      6
     ESP          0.0      2.0      0.0      2
     FRA         53.0     46.0     86.0    185
     GBR         10.0     48.0     20.0     78
     GER         10.0     11.0     19.0     40
     HUN          2.0      1.0      2.0      5
     IND          0.0      0.0      2.0      2
     ITA          0.0      2.0      2.0      4
     NED         15.0      0.0      5.0     20
     NOR          3.0      0.0      6.0      9
     SUI          1.0     13.0      1.0     15
     SWE          1.0      0.0      0.0      1
     USA         14.0     27.0     14.0     55
...               ...      ...      ...    ...
2012 MNE          0.0      0.0     14.0     14
     NED         19.0     21.0     29.0     69
     NOR          1.0     15.0      1.0     17
     NZL         14.0      9.0      3.0     26
     POL          8.0      3.0      1.0     12
     POR          0.0      0.0      2.0      2
     PRK          2.0      4.0      0.0      6
     PUR          1.0      0.0      1.0      2
     QAT          2.0      0.0      0.0      2
     ROU          6.0      2.0      8.0     16
     RSA          1.0      6.0      2.0      9
     RUS         51.0     47.0     32.0    130
     SGP          4.0      0.0      0.0      4
     SLO          3.0      1.0      1.0      5
     SRB         14.0      1.0      1.0     16
     SUI          0.0      2.0      2.0      4
     SVK          4.0      0.0      1.0      5
     SWE          3.0      2.0     18.0     23
     THA          2.0      0.0      2.0      4
     TJK          1.0      0.0      0.0      1
     TPE          1.0      1.0      0.0      2
     TTO          5.0      1.0      4.0     10
     TUN          1.0      2.0      0.0      3
     TUR          1.0      1.0      2.0      4
     UGA          0.0      1.0      0.0      1
     UKR         12.0      9.0      4.0     25
     USA         46.0    147.0     57.0    250
     UZB          2.0      1.0      0.0      3
     VEN          0.0      1.0      0.0      1
All           10369.0  10484.0  10308.0  31161

[1158 rows x 4 columns]

In [96]:
summer.pivot_table(index=['Year','Country'],columns='Medal',values='Athlete',
                   aggfunc= 'count',fill_value=0,margins=True)

Medal         Bronze   Gold  Silver    All
Year Country
1896 AUS           0      2       0      2
     AUT           2      2       1      5
     DEN           3      1       2      6
     FRA           2      5       4     11
     GBR           2      2       3      7
     GER           2     26       5     33
     GRE          22     10      20     52
     HUN           3      2       1      6
     SUI           0      1       2      3
     USA           2     11       7     20
     ZZX           2      2       2      6
1900 AUS           3      2       0      5
     AUT           3      0       3      6
     BEL          15      5      19     39
     BOH           1      0       1      2
     CAN           1      1       0      2
     CUB           0      1       1      2
     DEN           2      1       3      6
     ESP           0      2       0      2
     FRA          53     46      86    185
     GBR          10     48      20     78
     GER          10     11      19     40
     HUN           2      1       2      5
     IND           0      0       2      2
     ITA           0      2       2      4
     NED          15      0       5     20
     NOR           3      0       6      9
     SUI           1     13       1     15
     SWE           1      0       0      1
     USA          14     27      14     55
...              ...    ...     ...    ...
2012 MNE           0      0      14     14
     NED          19     21      29     69
     NOR           1     15       1     17
     NZL          14      9       3     26
     POL           8      3       1     12
     POR           0      0       2      2
     PRK           2      4       0      6
     PUR           1      0       1      2
     QAT           2      0       0      2
     ROU           6      2       8     16
     RSA           1      6       2      9
     RUS          51     47      32    130
     SGP           4      0       0      4
     SLO           3      1       1      5
     SRB          14      1       1     16
     SUI           0      2       2      4
     SVK           4      0       1      5
     SWE           3      2      18     23
     THA           2      0       2      4
     TJK           1      0       0      1
     TPE           1      1       0      2
     TTO           5      1       4     10
     TUN           1      2       0      3
     TUR           1      1       2      4
     UGA           0      1       0      1
     UKR          12      9       4     25
     USA          46    147      57    250
     UZB           2      1       0      3
     VEN           0      1       0      1
All            10369  10484   10308  31161

[1158 rows x 4 columns]

In [103]:
summer.groupby(['Year','Country','Medal']).Medal.count().unstack().fillna(0)

Medal         Bronze   Gold  Silver
Year Country
1896 AUS         0.0    2.0     0.0
     AUT         2.0    2.0     1.0
     DEN         3.0    1.0     2.0
     FRA         2.0    5.0     4.0
     GBR         2.0    2.0     3.0
     GER         2.0   26.0     5.0
     GRE        22.0   10.0    20.0
     HUN         3.0    2.0     1.0
     SUI         0.0    1.0     2.0
     USA         2.0   11.0     7.0
     ZZX         2.0    2.0     2.0
1900 AUS         3.0    2.0     0.0
     AUT         3.0    0.0     3.0
     BEL        15.0    5.0    19.0
     BOH         1.0    0.0     1.0
     CAN         1.0    1.0     0.0
     CUB         0.0    1.0     1.0
     DEN         2.0    1.0     3.0
     ESP         0.0    2.0     0.0
     FRA        53.0   46.0    86.0
     GBR        10.0   48.0    20.0
     GER        10.0   11.0    19.0
     HUN         2.0    1.0     2.0
     IND         0.0    0.0     2.0
     ITA         0.0    2.0     2.0
     NED        15.0    0.0     5.0
     NOR         3.0    0.0     6.0
     SUI         1.0   13.0     1.0
     SWE         1.0    0.0     0.0
     USA        14.0   27.0    14.0
...              ...    ...     ...
2012 MGL         3.0    0.0     2.0
     MNE         0.0    0.0    14.0
     NED        19.0   21.0    29.0
     NOR         1.0   15.0     1.0
     NZL        14.0    9.0     3.0
     POL         8.0    3.0     1.0
     POR         0.0    0.0     2.0
     PRK         2.0    4.0     0.0
     PUR         1.0    0.0     1.0
     QAT         2.0    0.0     0.0
     ROU         6.0    2.0     8.0
     RSA         1.0    6.0     2.0
     RUS        51.0   47.0    32.0
     SGP         4.0    0.0     0.0
     SLO         3.0    1.0     1.0
     SRB        14.0    1.0     1.0
     SUI         0.0    2.0     2.0
     SVK         4.0    0.0     1.0
     SWE         3.0    2.0    18.0
     THA         2.0    0.0     2.0
     TJK         1.0    0.0     0.0
     TPE         1.0    1.0     0.0
     TTO         5.0    1.0     4.0
     TUN         1.0    2.0     0.0
     TUR         1.0    1.0     2.0
     UGA         0.0    1.0     0.0
     UKR        12.0    9.0     4.0
     USA        46.0  147.0    57.0
     UZB         2.0    1.0     0.0
     VEN         0.0    1.0     0.0

[1157 rows x 3 columns]

### Melt

In [107]:
### Melting df. Opposite of pivoting.
table_2012= pd.read_csv('table_2012.csv')

In [109]:
table_2012

   Country  Gold  Silver  Bronze
0      USA   147      57      46
1      CHN    56      44      28
2      GBR    48      30      48
3      RUS    47      32      51
4      GER    45      28      21
5      FRA    30      30      22
6      NED    21      29      19
7      AUS    19      36      59
8      KOR    18      13      32
9      MEX    18       5       3
10     ITA    16      22      30
11     NOR    15       1       1
12     CRO    15       4      16
13     BRA    14      34      11
14     HUN    12       8       6
15     NZL     9       3      14
16     UKR     9       4      12
17     JAM     8       9       8
18     JPN     7      44      33
19     RSA     6       2       1