In [1]:
import pandas as pd

In [32]:
men2004=pd.read_csv('men2004.csv',index_col='Athlete')

In [33]:
men2008=pd.read_csv('men2008.csv',index_col= 'Athlete')

In [34]:
men2004.append(men2008,ignore_index=False)#can't figure out which data comes from where.

                            Medals
Athlete
PHELPS, Michael                  8
THORPE, Ian                      4
SCHOEMAN, Roland                 3
PEIRSOL, Aaron                   3
CROCKER, Ian                     3
KITAJIMA, Kosuke                 3
HANSEN, Brendan                  3
VAN DEN HOOGENBAND, Pieter       3
HACKETT, Grant                   3
MORITA, Tomomi                   2
LEZAK, Jason                     2
ROGAN, Markus                    2
KELLER, Klete                    2
HALL, Gary Jr.                   2
LOCHTE, Ryan                     2
WALKER, Neil                     2
YAMAMOTO, Takashi                2
SPRENGER, Nicholas               1
OKUMURA, Yoshihiro               1
PARRY, Stephen                   1
PEARSON, Todd                    1
ZASTROW, Mitja                   1
PELLICIARI, Matteo               1
WOODWARD, Gabe                   1
SERDINOV, Andriy                 1
VENDT, Erik                      1
ROSOLINO, Massimiliano           1
VEENS, Mark Hermanus             1
RUPPRATH, Thomas                 1
VANDERKAAY, Peter                1
...                            ...
VAN DER WEIJDEN, Maarten         1
VENDT, Erik                      1
WALTERS, David                   1
WILDMAN-TOBRINER, Ben            1
STEIMETZ, Boris                  1
LOBINTSEV, Nikita                1
MELLOULI, Oussama                1
MATSUDA, Takeshi                 1
BOUSQUET, Frederick              1
BRITS, Grant                     1
CALLUS, Ashley                   1
CAVIC, Milorad                   1
COCHRANE, Ryan                   1
CROCKER, Ian                     1
DAVIES, David                    1
DELANEY, Ashley                  1
FFROST, Nick                     1
FUJII, Takuro                    1
GANGLOFF, Mark                   1
GILOT, Fabien                    1
HANSEN, Brendan                  1
IZOTOV, Danila                   1
JENSEN, Larsen                   1
JONES, Cullen                    1
KELLER, Klete                    1
LAGUNOV, Evgeniy                 1
BERENS, Ricky                    1
LURZ, Thomas                     1
MALLET, Gregory                  1
ZHANG, Lin                       1

[121 rows x 1 columns]

In [17]:
#ignore_index=True, it generates new index and doesn't take keys into account.
men0408=pd.concat([men2004,men2008],ignore_index=False,keys=[2004,2008],names=['Year'])

In [18]:
men0408

                            Athlete  Medals
Year
2004 0              PHELPS, Michael       8
     1                  THORPE, Ian       4
     2             SCHOEMAN, Roland       3
     3               PEIRSOL, Aaron       3
     4                 CROCKER, Ian       3
     5             KITAJIMA, Kosuke       3
     6              HANSEN, Brendan       3
     7   VAN DEN HOOGENBAND, Pieter       3
     8               HACKETT, Grant       3
     9               MORITA, Tomomi       2
     10                LEZAK, Jason       2
     11               ROGAN, Markus       2
     12               KELLER, Klete       2
     13              HALL, Gary Jr.       2
     14                LOCHTE, Ryan       2
     15                WALKER, Neil       2
     16           YAMAMOTO, Takashi       2
     17          SPRENGER, Nicholas       1
     18          OKUMURA, Yoshihiro       1
     19              PARRY, Stephen       1
     20               PEARSON, Todd       1
     21              ZASTROW, Mitja       1
     22          PELLICIARI, Matteo       1
     23              WOODWARD, Gabe       1
     24            SERDINOV, Andriy       1
     25                 VENDT, Erik       1
     26      ROSOLINO, Massimiliano       1
     27        VEENS, Mark Hermanus       1
     28            RUPPRATH, Thomas       1
     29           VANDERKAAY, Peter       1
...                             ...     ...
2008 32    VAN DER WEIJDEN, Maarten       1
     33                 VENDT, Erik       1
     34              WALTERS, David       1
     35       WILDMAN-TOBRINER, Ben       1
     36             STEIMETZ, Boris       1
     37           LOBINTSEV, Nikita       1
     38           MELLOULI, Oussama       1
     39            MATSUDA, Takeshi       1
     40         BOUSQUET, Frederick       1
     41                BRITS, Grant       1
     42              CALLUS, Ashley       1
     43              CAVIC, Milorad       1
     44              COCHRANE, Ryan       1
     45                CROCKER, Ian       1
     46               DAVIES, David       1
     47             DELANEY, Ashley       1
     48                FFROST, Nick       1
     49               FUJII, Takuro       1
     50              GANGLOFF, Mark       1
     51               GILOT, Fabien       1
     52             HANSEN, Brendan       1
     53              IZOTOV, Danila       1
     54              JENSEN, Larsen       1
     55               JONES, Cullen       1
     56               KELLER, Klete       1
     57            LAGUNOV, Evgeniy       1
     58               BERENS, Ricky       1
     59                LURZ, Thomas       1
     60             MALLET, Gregory       1
     61                  ZHANG, Lin       1

[121 rows x 2 columns]

In [24]:
men2004.columns=['Names','Medals','Success']

In [20]:
men2004['Success']='Yes'

In [25]:
pd.concat([men2004,men2008],keys=[2004,2008],names=['Year'])

C:\Users\Harshraj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

                          Athlete  Medals                       Names Success
Year
2004 0                        NaN       8             PHELPS, Michael     Yes
     1                        NaN       4                 THORPE, Ian     Yes
     2                        NaN       3            SCHOEMAN, Roland     Yes
     3                        NaN       3              PEIRSOL, Aaron     Yes
     4                        NaN       3                CROCKER, Ian     Yes
     5                        NaN       3            KITAJIMA, Kosuke     Yes
     6                        NaN       3             HANSEN, Brendan     Yes
     7                        NaN       3  VAN DEN HOOGENBAND, Pieter     Yes
     8                        NaN       3              HACKETT, Grant     Yes
     9                        NaN       2              MORITA, Tomomi     Yes
     10                       NaN       2                LEZAK, Jason     Yes
     11                       NaN       2               ROGAN, Markus     Yes
     12                       NaN       2               KELLER, Klete     Yes
     13                       NaN       2              HALL, Gary Jr.     Yes
     14                       NaN       2                LOCHTE, Ryan     Yes
     15                       NaN       2                WALKER, Neil     Yes
     16                       NaN       2           YAMAMOTO, Takashi     Yes
     17                       NaN       1          SPRENGER, Nicholas     Yes
     18                       NaN       1          OKUMURA, Yoshihiro     Yes
     19                       NaN       1              PARRY, Stephen     Yes
     20                       NaN       1               PEARSON, Todd     Yes
     21                       NaN       1              ZASTROW, Mitja     Yes
     22                       NaN       1          PELLICIARI, Matteo     Yes
     23                       NaN       1              WOODWARD, Gabe     Yes
     24                       NaN       1            SERDINOV, Andriy     Yes
     25                       NaN       1                 VENDT, Erik     Yes
     26                       NaN       1      ROSOLINO, Massimiliano     Yes
     27                       NaN       1        VEENS, Mark Hermanus     Yes
     28                       NaN       1            RUPPRATH, Thomas     Yes
     29                       NaN       1           VANDERKAAY, Peter     Yes
...                           ...     ...                         ...     ...
2008 32  VAN DER WEIJDEN, Maarten       1                         NaN     NaN
     33               VENDT, Erik       1                         NaN     NaN
     34            WALTERS, David       1                         NaN     NaN
     35     WILDMAN-TOBRINER, Ben       1                         NaN     NaN
     36           STEIMETZ, Boris       1                         NaN     NaN
     37         LOBINTSEV, Nikita       1                         NaN     NaN
     38         MELLOULI, Oussama       1                         NaN     NaN
     39          MATSUDA, Takeshi       1                         NaN     NaN
     40       BOUSQUET, Frederick       1                         NaN     NaN
     41              BRITS, Grant       1                         NaN     NaN
     42            CALLUS, Ashley       1                         NaN     NaN
     43            CAVIC, Milorad       1                         NaN     NaN
     44            COCHRANE, Ryan       1                         NaN     NaN
     45              CROCKER, Ian       1                         NaN     NaN
     46             DAVIES, David       1                         NaN     NaN
     47           DELANEY, Ashley       1                         NaN     NaN
     48              FFROST, Nick       1                         NaN     NaN
     49             FUJII, Takuro       1                         NaN     NaN
     50            GANGLOFF, Mark       1                         NaN     NaN
     51             GILOT, Fabien       1                         NaN     NaN
     52           HANSEN, Brendan       1                         NaN     NaN
     53            IZOTOV, Danila       1                         NaN     NaN
     54            JENSEN, Larsen       1                         NaN     NaN
     55             JONES, Cullen       1                         NaN     NaN
     56             KELLER, Klete       1                         NaN     NaN
     57          LAGUNOV, Evgeniy       1                         NaN     NaN
     58             BERENS, Ricky       1                         NaN     NaN
     59              LURZ, Thomas       1                         NaN     NaN
     60           MALLET, Gregory       1                         NaN     NaN
     61                ZHANG, Lin       1                         NaN     NaN

[121 rows x 4 columns]

In [27]:
men2004.drop(labels= ['Success'],inplace=True,axis=1)

In [29]:
men2008.columns=men2004.columns

In [35]:
pd.concat([men2004,men2008],keys= [2004,2008],names=['Year'])

                                 Medals
Year Athlete
2004 PHELPS, Michael                  8
     THORPE, Ian                      4
     SCHOEMAN, Roland                 3
     PEIRSOL, Aaron                   3
     CROCKER, Ian                     3
     KITAJIMA, Kosuke                 3
     HANSEN, Brendan                  3
     VAN DEN HOOGENBAND, Pieter       3
     HACKETT, Grant                   3
     MORITA, Tomomi                   2
     LEZAK, Jason                     2
     ROGAN, Markus                    2
     KELLER, Klete                    2
     HALL, Gary Jr.                   2
     LOCHTE, Ryan                     2
     WALKER, Neil                     2
     YAMAMOTO, Takashi                2
     SPRENGER, Nicholas               1
     OKUMURA, Yoshihiro               1
     PARRY, Stephen                   1
     PEARSON, Todd                    1
     ZASTROW, Mitja                   1
     PELLICIARI, Matteo               1
     WOODWARD, Gabe                   1
     SERDINOV, Andriy                 1
     VENDT, Erik                      1
     ROSOLINO, Massimiliano           1
     VEENS, Mark Hermanus             1
     RUPPRATH, Thomas                 1
     VANDERKAAY, Peter                1
...                                 ...
2008 VAN DER WEIJDEN, Maarten         1
     VENDT, Erik                      1
     WALTERS, David                   1
     WILDMAN-TOBRINER, Ben            1
     STEIMETZ, Boris                  1
     LOBINTSEV, Nikita                1
     MELLOULI, Oussama                1
     MATSUDA, Takeshi                 1
     BOUSQUET, Frederick              1
     BRITS, Grant                     1
     CALLUS, Ashley                   1
     CAVIC, Milorad                   1
     COCHRANE, Ryan                   1
     CROCKER, Ian                     1
     DAVIES, David                    1
     DELANEY, Ashley                  1
     FFROST, Nick                     1
     FUJII, Takuro                    1
     GANGLOFF, Mark                   1
     GILOT, Fabien                    1
     HANSEN, Brendan                  1
     IZOTOV, Danila                   1
     JENSEN, Larsen                   1
     JONES, Cullen                    1
     KELLER, Klete                    1
     LAGUNOV, Evgeniy                 1
     BERENS, Ricky                    1
     LURZ, Thomas                     1
     MALLET, Gregory                  1
     ZHANG, Lin                       1

[121 rows x 1 columns]

In [36]:
topfive_2004=pd.read_csv('topfive_2004.csv',index_col='Athlete')

In [37]:
topfive_2008=pd.read_csv('topfive_2008.csv',index_col='Athlete')

In [39]:
topfive_2004 + topfive_2008#we loose value with NaN.Use add

                  Bronze  Gold  Silver  bronze
Athlete
GREVERS, Matt        NaN   NaN     NaN     NaN
HACKETT, Grant       NaN   NaN     NaN     NaN
KITAJIMA, Kosuke     NaN   4.0     0.0     NaN
LOCHTE, Ryan         NaN   NaN     NaN     NaN
PEIRSOL, Aaron       NaN   5.0     1.0     NaN
PHELPS, Michael      NaN  14.0     0.0     NaN
THORPE, Ian          NaN   NaN     NaN     NaN

In [43]:
topfive_2008.rename(columns={'bronze':'Bronze'},inplace=True)

In [45]:
topfive_2004.add(topfive_2008,fill_value=0)#sub for substracting.

                  Gold  Silver  Bronze
Athlete
GREVERS, Matt      2.0     1.0     0.0
HACKETT, Grant     1.0     2.0     0.0
KITAJIMA, Kosuke   4.0     0.0     2.0
LOCHTE, Ryan       2.0     0.0     2.0
PEIRSOL, Aaron     5.0     1.0     0.0
PHELPS, Michael   14.0     0.0     2.0
THORPE, Ian        2.0     1.0     1.0

In [47]:
men2008.shape

(62, 1)

In [48]:
len(men2008)+ len(men2004)

121

In [52]:
men0408=men2004.merge(men2008,how= 'outer',on='Athlete',suffixes=('_2004','_2008'),indicator=True)

In [53]:
men0408._merge.value_counts()

right_only    46
left_only     43
both          16
Name: _merge, dtype: int64

In [54]:
men2004.merge(men2008,how= 'inner',on='Athlete',suffixes=('_2004','_2008'),indicator=True)

                   Medals_2004  Medals_2008 _merge
Athlete
PHELPS, Michael              8            8   both
PEIRSOL, Aaron               3            3   both
CROCKER, Ian                 3            1   both
KITAJIMA, Kosuke             3            3   both
HANSEN, Brendan              3            1   both
HACKETT, Grant               3            2   both
LEZAK, Jason                 2            3   both
KELLER, Klete                2            1   both
LOCHTE, Ryan                 2            4   both
VENDT, Erik                  1            1   both
VANDERKAAY, Peter            1            2   both
CSEH, Laszlo                 1            3   both
DAVIES, David                1            1   both
DUBOSCQ, Hugues              1            2   both
GANGLOFF, Mark               1            1   both
JENSEN, Larsen               1            1   both

In [78]:
men0408=men2004.merge(men2008,how= 'outer',on='Athlete',suffixes=('_2004','_2008'),indicator=True)

In [63]:
men0408._merge.value_counts()

right_only    46
left_only     43
both          16
Name: _merge, dtype: int64

In [66]:
#inner join, with minimal join.
men2004.merge(men2008,how= 'inner',on='Athlete',suffixes=('_2004','_2008'),indicator=True)

                   Medals_2004  Medals_2008 _merge
Athlete
PHELPS, Michael              8            8   both
PEIRSOL, Aaron               3            3   both
CROCKER, Ian                 3            1   both
KITAJIMA, Kosuke             3            3   both
HANSEN, Brendan              3            1   both
HACKETT, Grant               3            2   both
LEZAK, Jason                 2            3   both
KELLER, Klete                2            1   both
LOCHTE, Ryan                 2            4   both
VENDT, Erik                  1            1   both
VANDERKAAY, Peter            1            2   both
CSEH, Laszlo                 1            3   both
DAVIES, David                1            1   both
DUBOSCQ, Hugues              1            2   both
GANGLOFF, Mark               1            1   both
JENSEN, Larsen               1            1   both

In [68]:
#outer join without intersection
men2004.merge(men2008,how= 'outer',on='Athlete',suffixes=('_2004','_2008'),indicator=True)

                            Medals_2004  Medals_2008      _merge
Athlete
PHELPS, Michael                     8.0          8.0        both
THORPE, Ian                         4.0          NaN   left_only
SCHOEMAN, Roland                    3.0          NaN   left_only
PEIRSOL, Aaron                      3.0          3.0        both
CROCKER, Ian                        3.0          1.0        both
KITAJIMA, Kosuke                    3.0          3.0        both
HANSEN, Brendan                     3.0          1.0        both
VAN DEN HOOGENBAND, Pieter          3.0          NaN   left_only
HACKETT, Grant                      3.0          2.0        both
MORITA, Tomomi                      2.0          NaN   left_only
LEZAK, Jason                        2.0          3.0        both
ROGAN, Markus                       2.0          NaN   left_only
KELLER, Klete                       2.0          1.0        both
HALL, Gary Jr.                      2.0          NaN   left_only
LOCHTE, Ryan                        2.0          4.0        both
WALKER, Neil                        2.0          NaN   left_only
YAMAMOTO, Takashi                   2.0          NaN   left_only
SPRENGER, Nicholas                  1.0          NaN   left_only
OKUMURA, Yoshihiro                  1.0          NaN   left_only
PARRY, Stephen                      1.0          NaN   left_only
PEARSON, Todd                       1.0          NaN   left_only
ZASTROW, Mitja                      1.0          NaN   left_only
PELLICIARI, Matteo                  1.0          NaN   left_only
WOODWARD, Gabe                      1.0          NaN   left_only
SERDINOV, Andriy                    1.0          NaN   left_only
VENDT, Erik                         1.0          1.0        both
ROSOLINO, Massimiliano              1.0          NaN   left_only
VEENS, Mark Hermanus                1.0          NaN   left_only
RUPPRATH, Thomas                    1.0          NaN   left_only
VANDERKAAY, Peter                   1.0          2.0        both
...                                 ...          ...         ...
ADRIAN, Nathan                      NaN          1.0  right_only
PINE, Adam                          NaN          1.0  right_only
POLISHCHUK, Mikhail                 NaN          1.0  right_only
SATO, Hisayoshi                     NaN          1.0  right_only
SPRENGER, Christian                 NaN          1.0  right_only
MIYASHITA, Junichi                  NaN          1.0  right_only
SUKHORUKOV, Alexander               NaN          1.0  right_only
VAN DER WEIJDEN, Maarten            NaN          1.0  right_only
WALTERS, David                      NaN          1.0  right_only
WILDMAN-TOBRINER, Ben               NaN          1.0  right_only
STEIMETZ, Boris                     NaN          1.0  right_only
LOBINTSEV, Nikita                   NaN          1.0  right_only
MELLOULI, Oussama                   NaN          1.0  right_only
MATSUDA, Takeshi                    NaN          1.0  right_only
BOUSQUET, Frederick                 NaN          1.0  right_only
BRITS, Grant                        NaN          1.0  right_only
CALLUS, Ashley                      NaN          1.0  right_only
CAVIC, Milorad                      NaN          1.0  right_only
COCHRANE, Ryan                      NaN          1.0  right_only
DELANEY, Ashley                     NaN          1.0  right_only
FFROST, Nick                        NaN          1.0  right_only
FUJII, Takuro                       NaN          1.0  right_only
GILOT, Fabien                       NaN          1.0  right_only
IZOTOV, Danila                      NaN          1.0  right_only
JONES, Cullen                       NaN          1.0  right_only
LAGUNOV, Evgeniy                    NaN          1.0  right_only
BERENS, Ricky                       NaN          1.0  right_only
LURZ, Thomas                        NaN          1.0  right_only
MALLET, Gregory                     NaN          1.0  right_only
ZHANG, Lin                          NaN          1.0  right_only

[105 rows x 3 columns]

In [80]:
men0408[men0408._merge != 'both']

                            Medals_2004  Medals_2008      _merge
Athlete
THORPE, Ian                         4.0          NaN   left_only
SCHOEMAN, Roland                    3.0          NaN   left_only
VAN DEN HOOGENBAND, Pieter          3.0          NaN   left_only
MORITA, Tomomi                      2.0          NaN   left_only
ROGAN, Markus                       2.0          NaN   left_only
HALL, Gary Jr.                      2.0          NaN   left_only
WALKER, Neil                        2.0          NaN   left_only
YAMAMOTO, Takashi                   2.0          NaN   left_only
SPRENGER, Nicholas                  1.0          NaN   left_only
OKUMURA, Yoshihiro                  1.0          NaN   left_only
PARRY, Stephen                      1.0          NaN   left_only
PEARSON, Todd                       1.0          NaN   left_only
ZASTROW, Mitja                      1.0          NaN   left_only
PELLICIARI, Matteo                  1.0          NaN   left_only
WOODWARD, Gabe                      1.0          NaN   left_only
SERDINOV, Andriy                    1.0          NaN   left_only
ROSOLINO, Massimiliano              1.0          NaN   left_only
VEENS, Mark Hermanus                1.0          NaN   left_only
RUPPRATH, Thomas                    1.0          NaN   left_only
TOWNSEND, Darian                    1.0          NaN   left_only
STEVENS, Craig                      1.0          NaN   left_only
NEETHLING, Ryk                      1.0          NaN   left_only
BOVELL, George                      1.0          NaN   left_only
MEEUW, Helge                        1.0          NaN   left_only
FLOREA, Razvan Ionut                1.0          NaN   left_only
CAPPELLAZZO, Federico               1.0          NaN   left_only
CERCATO, Simone                     1.0          NaN   left_only
CONRAD, Lars                        1.0          NaN   left_only
DRAGANJA, Duje                      1.0          NaN   left_only
DRIESEN, Steffen                    1.0          NaN   left_only
...                                 ...          ...         ...
ADRIAN, Nathan                      NaN          1.0  right_only
PINE, Adam                          NaN          1.0  right_only
POLISHCHUK, Mikhail                 NaN          1.0  right_only
SATO, Hisayoshi                     NaN          1.0  right_only
SPRENGER, Christian                 NaN          1.0  right_only
MIYASHITA, Junichi                  NaN          1.0  right_only
SUKHORUKOV, Alexander               NaN          1.0  right_only
VAN DER WEIJDEN, Maarten            NaN          1.0  right_only
WALTERS, David                      NaN          1.0  right_only
WILDMAN-TOBRINER, Ben               NaN          1.0  right_only
STEIMETZ, Boris                     NaN          1.0  right_only
LOBINTSEV, Nikita                   NaN          1.0  right_only
MELLOULI, Oussama                   NaN          1.0  right_only
MATSUDA, Takeshi                    NaN          1.0  right_only
BOUSQUET, Frederick                 NaN          1.0  right_only
BRITS, Grant                        NaN          1.0  right_only
CALLUS, Ashley                      NaN          1.0  right_only
CAVIC, Milorad                      NaN          1.0  right_only
COCHRANE, Ryan                      NaN          1.0  right_only
DELANEY, Ashley                     NaN          1.0  right_only
FFROST, Nick                        NaN          1.0  right_only
FUJII, Takuro                       NaN          1.0  right_only
GILOT, Fabien                       NaN          1.0  right_only
IZOTOV, Danila                      NaN          1.0  right_only
JONES, Cullen                       NaN          1.0  right_only
LAGUNOV, Evgeniy                    NaN          1.0  right_only
BERENS, Ricky                       NaN          1.0  right_only
LURZ, Thomas                        NaN          1.0  right_only
MALLET, Gregory                     NaN          1.0  right_only
ZHANG, Lin                          NaN          1.0  right_only

[89 rows x 3 columns]

In [81]:
men0408.loc[men0408._merge=='left_only']#'right_only' works too.

                            Medals_2004  Medals_2008     _merge
Athlete
THORPE, Ian                         4.0          NaN  left_only
SCHOEMAN, Roland                    3.0          NaN  left_only
VAN DEN HOOGENBAND, Pieter          3.0          NaN  left_only
MORITA, Tomomi                      2.0          NaN  left_only
ROGAN, Markus                       2.0          NaN  left_only
HALL, Gary Jr.                      2.0          NaN  left_only
WALKER, Neil                        2.0          NaN  left_only
YAMAMOTO, Takashi                   2.0          NaN  left_only
SPRENGER, Nicholas                  1.0          NaN  left_only
OKUMURA, Yoshihiro                  1.0          NaN  left_only
PARRY, Stephen                      1.0          NaN  left_only
PEARSON, Todd                       1.0          NaN  left_only
ZASTROW, Mitja                      1.0          NaN  left_only
PELLICIARI, Matteo                  1.0          NaN  left_only
WOODWARD, Gabe                      1.0          NaN  left_only
SERDINOV, Andriy                    1.0          NaN  left_only
ROSOLINO, Massimiliano              1.0          NaN  left_only
VEENS, Mark Hermanus                1.0          NaN  left_only
RUPPRATH, Thomas                    1.0          NaN  left_only
TOWNSEND, Darian                    1.0          NaN  left_only
STEVENS, Craig                      1.0          NaN  left_only
NEETHLING, Ryk                      1.0          NaN  left_only
BOVELL, George                      1.0          NaN  left_only
MEEUW, Helge                        1.0          NaN  left_only
FLOREA, Razvan Ionut                1.0          NaN  left_only
CAPPELLAZZO, Federico               1.0          NaN  left_only
CERCATO, Simone                     1.0          NaN  left_only
CONRAD, Lars                        1.0          NaN  left_only
DRAGANJA, Duje                      1.0          NaN  left_only
DRIESEN, Steffen                    1.0          NaN  left_only
DUSING, Nate                        1.0          NaN  left_only
FERNS, Lyndon                       1.0          NaN  left_only
MATKOVICH, Antony                   1.0          NaN  left_only
GOLDBLATT, Scott                    1.0          NaN  left_only
GYURTA, Daniel                      1.0          NaN  left_only
KENKHUIS, Johan                     1.0          NaN  left_only
KETCHUM, Dan                        1.0          NaN  left_only
KLIM, Michael                       1.0          NaN  left_only
KRAYZELBURG, Lenny                  1.0          NaN  left_only
KRUPPA, Jens                        1.0          NaN  left_only
BREMBILLA, Emiliano                 1.0          NaN  left_only
MAGNINI, Filippo                    1.0          NaN  left_only
ZWERING, Klaas-Erik                 1.0          NaN  left_only

In [86]:

#With left join, checks are done if 2004 athletes has info in 2008 as well.
men2004.merge(men2008,how= 'left',on='Athlete',suffixes=('_2004','_2008'),indicator=True)

                            Medals_2004  Medals_2008     _merge
Athlete
PHELPS, Michael                       8          8.0       both
THORPE, Ian                           4          NaN  left_only
SCHOEMAN, Roland                      3          NaN  left_only
PEIRSOL, Aaron                        3          3.0       both
CROCKER, Ian                          3          1.0       both
KITAJIMA, Kosuke                      3          3.0       both
HANSEN, Brendan                       3          1.0       both
VAN DEN HOOGENBAND, Pieter            3          NaN  left_only
HACKETT, Grant                        3          2.0       both
MORITA, Tomomi                        2          NaN  left_only
LEZAK, Jason                          2          3.0       both
ROGAN, Markus                         2          NaN  left_only
KELLER, Klete                         2          1.0       both
HALL, Gary Jr.                        2          NaN  left_only
LOCHTE, Ryan                          2          4.0       both
WALKER, Neil                          2          NaN  left_only
YAMAMOTO, Takashi                     2          NaN  left_only
SPRENGER, Nicholas                    1          NaN  left_only
OKUMURA, Yoshihiro                    1          NaN  left_only
PARRY, Stephen                        1          NaN  left_only
PEARSON, Todd                         1          NaN  left_only
ZASTROW, Mitja                        1          NaN  left_only
PELLICIARI, Matteo                    1          NaN  left_only
WOODWARD, Gabe                        1          NaN  left_only
SERDINOV, Andriy                      1          NaN  left_only
VENDT, Erik                           1          1.0       both
ROSOLINO, Massimiliano                1          NaN  left_only
VEENS, Mark Hermanus                  1          NaN  left_only
RUPPRATH, Thomas                      1          NaN  left_only
VANDERKAAY, Peter                     1          2.0       both
TOWNSEND, Darian                      1          NaN  left_only
STEVENS, Craig                        1          NaN  left_only
NEETHLING, Ryk                        1          NaN  left_only
BOVELL, George                        1          NaN  left_only
MEEUW, Helge                          1          NaN  left_only
FLOREA, Razvan Ionut                  1          NaN  left_only
CAPPELLAZZO, Federico                 1          NaN  left_only
CERCATO, Simone                       1          NaN  left_only
CONRAD, Lars                          1          NaN  left_only
CSEH, Laszlo                          1          3.0       both
DAVIES, David                         1          1.0       both
DRAGANJA, Duje                        1          NaN  left_only
DRIESEN, Steffen                      1          NaN  left_only
DUBOSCQ, Hugues                       1          2.0       both
DUSING, Nate                          1          NaN  left_only
FERNS, Lyndon                         1          NaN  left_only
GANGLOFF, Mark                        1          1.0       both
MATKOVICH, Antony                     1          NaN  left_only
GOLDBLATT, Scott                      1          NaN  left_only
GYURTA, Daniel                        1          NaN  left_only
JENSEN, Larsen                        1          1.0       both
KENKHUIS, Johan                       1          NaN  left_only
KETCHUM, Dan                          1          NaN  left_only
KLIM, Michael                         1          NaN  left_only
KRAYZELBURG, Lenny                    1          NaN  left_only
KRUPPA, Jens                          1          NaN  left_only
BREMBILLA, Emiliano                   1          NaN  left_only
MAGNINI, Filippo                      1          NaN  left_only
ZWERING, Klaas-Erik                   1          NaN  left_only

In [87]:
#below two are same.
#men2008.merge(men2004,how= 'right',on='Athlete',suffixes=('_2004','_2008'),indicator=True)
men2004.merge(men2008,how= 'right',on='Athlete',suffixes=('_2004','_2008'),indicator=True)

                          Medals_2004  Medals_2008      _merge
Athlete
PHELPS, Michael                   8.0            8        both
PEIRSOL, Aaron                    3.0            3        both
CROCKER, Ian                      3.0            1        both
KITAJIMA, Kosuke                  3.0            3        both
HANSEN, Brendan                   3.0            1        both
HACKETT, Grant                    3.0            2        both
LEZAK, Jason                      2.0            3        both
KELLER, Klete                     2.0            1        both
LOCHTE, Ryan                      2.0            4        both
VENDT, Erik                       1.0            1        both
VANDERKAAY, Peter                 1.0            2        both
CSEH, Laszlo                      1.0            3        both
DAVIES, David                     1.0            1        both
DUBOSCQ, Hugues                   1.0            2        both
GANGLOFF, Mark                    1.0            1        both
JENSEN, Larsen                    1.0            1        both
BERNARD, Alain                    NaN            3  right_only
SULLIVAN, Eamon                   NaN            3  right_only
LAUTERSTEIN, Andrew               NaN            3  right_only
GREVERS, Matt                     NaN            3  right_only
RICKARD, Brenton                  NaN            2  right_only
LEVEAUX, Amaury                   NaN            2  right_only
STOECKEL, Hayden                  NaN            2  right_only
TARGETT, Matt                     NaN            2  right_only
PARK, Taehwan                     NaN            2  right_only
CIELO FILHO, Cesar                NaN            2  right_only
VYATCHANIN, Arkady                NaN            2  right_only
BRODIE, Leith                     NaN            2  right_only
WEBER-GALE, Garrett               NaN            2  right_only
MURPHY, Patrick                   NaN            2  right_only
...                               ...          ...         ...
ADRIAN, Nathan                    NaN            1  right_only
PINE, Adam                        NaN            1  right_only
POLISHCHUK, Mikhail               NaN            1  right_only
SATO, Hisayoshi                   NaN            1  right_only
SPRENGER, Christian               NaN            1  right_only
MIYASHITA, Junichi                NaN            1  right_only
SUKHORUKOV, Alexander             NaN            1  right_only
VAN DER WEIJDEN, Maarten          NaN            1  right_only
WALTERS, David                    NaN            1  right_only
WILDMAN-TOBRINER, Ben             NaN            1  right_only
STEIMETZ, Boris                   NaN            1  right_only
LOBINTSEV, Nikita                 NaN            1  right_only
MELLOULI, Oussama                 NaN            1  right_only
MATSUDA, Takeshi                  NaN            1  right_only
BOUSQUET, Frederick               NaN            1  right_only
BRITS, Grant                      NaN            1  right_only
CALLUS, Ashley                    NaN            1  right_only
CAVIC, Milorad                    NaN            1  right_only
COCHRANE, Ryan                    NaN            1  right_only
DELANEY, Ashley                   NaN            1  right_only
FFROST, Nick                      NaN            1  right_only
FUJII, Takuro                     NaN            1  right_only
GILOT, Fabien                     NaN            1  right_only
IZOTOV, Danila                    NaN            1  right_only
JONES, Cullen                     NaN            1  right_only
LAGUNOV, Evgeniy                  NaN            1  right_only
BERENS, Ricky                     NaN            1  right_only
LURZ, Thomas                      NaN            1  right_only
MALLET, Gregory                   NaN            1  right_only
ZHANG, Lin                        NaN            1  right_only

[62 rows x 3 columns]

In [88]:
men2004

                            Medals
Athlete
PHELPS, Michael                  8
THORPE, Ian                      4
SCHOEMAN, Roland                 3
PEIRSOL, Aaron                   3
CROCKER, Ian                     3
KITAJIMA, Kosuke                 3
HANSEN, Brendan                  3
VAN DEN HOOGENBAND, Pieter       3
HACKETT, Grant                   3
MORITA, Tomomi                   2
LEZAK, Jason                     2
ROGAN, Markus                    2
KELLER, Klete                    2
HALL, Gary Jr.                   2
LOCHTE, Ryan                     2
WALKER, Neil                     2
YAMAMOTO, Takashi                2
SPRENGER, Nicholas               1
OKUMURA, Yoshihiro               1
PARRY, Stephen                   1
PEARSON, Todd                    1
ZASTROW, Mitja                   1
PELLICIARI, Matteo               1
WOODWARD, Gabe                   1
SERDINOV, Andriy                 1
VENDT, Erik                      1
ROSOLINO, Massimiliano           1
VEENS, Mark Hermanus             1
RUPPRATH, Thomas                 1
VANDERKAAY, Peter                1
TOWNSEND, Darian                 1
STEVENS, Craig                   1
NEETHLING, Ryk                   1
BOVELL, George                   1
MEEUW, Helge                     1
FLOREA, Razvan Ionut             1
CAPPELLAZZO, Federico            1
CERCATO, Simone                  1
CONRAD, Lars                     1
CSEH, Laszlo                     1
DAVIES, David                    1
DRAGANJA, Duje                   1
DRIESEN, Steffen                 1
DUBOSCQ, Hugues                  1
DUSING, Nate                     1
FERNS, Lyndon                    1
GANGLOFF, Mark                   1
MATKOVICH, Antony                1
GOLDBLATT, Scott                 1
GYURTA, Daniel                   1
JENSEN, Larsen                   1
KENKHUIS, Johan                  1
KETCHUM, Dan                     1
KLIM, Michael                    1
KRAYZELBURG, Lenny               1
KRUPPA, Jens                     1
BREMBILLA, Emiliano              1
MAGNINI, Filippo                 1
ZWERING, Klaas-Erik              1

In [95]:
men2004.reset_index(inplace=True)
men2008.reset_index(inplace=True)

In [92]:
men2004.columns=['Name', 'Medals']

In [98]:
#for merge with different column names.
men0408= men2004.merge(men2008, how ='outer',left_on='Name',right_on='Athlete'
                       ,suffixes=['_2004','_2008'],indicator=True)

In [100]:
men0408.Name.fillna(men0408.Athlete,inplace=True)

In [103]:
men0408.drop(['Athlete','_merge'],axis=1,inplace=True)

In [104]:
men0408

     level_0  index                        Name  Medals_2004  Medals_2008
0        0.0    0.0             PHELPS, Michael          8.0          8.0
1        1.0    1.0                 THORPE, Ian          4.0          NaN
2        2.0    2.0            SCHOEMAN, Roland          3.0          NaN
3        3.0    3.0              PEIRSOL, Aaron          3.0          3.0
4        4.0    4.0                CROCKER, Ian          3.0          1.0
5        5.0    5.0            KITAJIMA, Kosuke          3.0          3.0
6        6.0    6.0             HANSEN, Brendan          3.0          1.0
7        7.0    7.0  VAN DEN HOOGENBAND, Pieter          3.0          NaN
8        8.0    8.0              HACKETT, Grant          3.0          2.0
9        9.0    9.0              MORITA, Tomomi          2.0          NaN
10      10.0   10.0                LEZAK, Jason          2.0          3.0
11      11.0   11.0               ROGAN, Markus          2.0          NaN
12      12.0   12.0               KELLER, Klete          2.0          1.0
13      13.0   13.0              HALL, Gary Jr.          2.0          NaN
14      14.0   14.0                LOCHTE, Ryan          2.0          4.0
15      15.0   15.0                WALKER, Neil          2.0          NaN
16      16.0   16.0           YAMAMOTO, Takashi          2.0          NaN
17      17.0   17.0          SPRENGER, Nicholas          1.0          NaN
18      18.0   18.0          OKUMURA, Yoshihiro          1.0          NaN
19      19.0   19.0              PARRY, Stephen          1.0          NaN
20      20.0   20.0               PEARSON, Todd          1.0          NaN
21      21.0   21.0              ZASTROW, Mitja          1.0          NaN
22      22.0   22.0          PELLICIARI, Matteo          1.0          NaN
23      23.0   23.0              WOODWARD, Gabe          1.0          NaN
24      24.0   24.0            SERDINOV, Andriy          1.0          NaN
25      25.0   25.0                 VENDT, Erik          1.0          1.0
26      26.0   26.0      ROSOLINO, Massimiliano          1.0          NaN
27      27.0   27.0        VEENS, Mark Hermanus          1.0          NaN
28      28.0   28.0            RUPPRATH, Thomas          1.0          NaN
29      29.0   29.0           VANDERKAAY, Peter          1.0          2.0
..       ...    ...                         ...          ...          ...
75       NaN    NaN              ADRIAN, Nathan          NaN          1.0
76       NaN    NaN                  PINE, Adam          NaN          1.0
77       NaN    NaN         POLISHCHUK, Mikhail          NaN          1.0
78       NaN    NaN             SATO, Hisayoshi          NaN          1.0
79       NaN    NaN         SPRENGER, Christian          NaN          1.0
80       NaN    NaN          MIYASHITA, Junichi          NaN          1.0
81       NaN    NaN       SUKHORUKOV, Alexander          NaN          1.0
82       NaN    NaN    VAN DER WEIJDEN, Maarten          NaN          1.0
83       NaN    NaN              WALTERS, David          NaN          1.0
84       NaN    NaN       WILDMAN-TOBRINER, Ben          NaN          1.0
85       NaN    NaN             STEIMETZ, Boris          NaN          1.0
86       NaN    NaN           LOBINTSEV, Nikita          NaN          1.0
87       NaN    NaN           MELLOULI, Oussama          NaN          1.0
88       NaN    NaN            MATSUDA, Takeshi          NaN          1.0
89       NaN    NaN         BOUSQUET, Frederick          NaN          1.0
90       NaN    NaN                BRITS, Grant          NaN          1.0
91       NaN    NaN              CALLUS, Ashley          NaN          1.0
92       NaN    NaN              CAVIC, Milorad          NaN          1.0
93       NaN    NaN              COCHRANE, Ryan          NaN          1.0
94       NaN    NaN             DELANEY, Ashley          NaN          1.0
95       NaN    NaN                FFROST, Nick          NaN          1.0
96       NaN    NaN               FUJII, Takuro          NaN          1.0
97       NaN    NaN               GILOT, Fabien          NaN          1.0
98       NaN    NaN              IZOTOV, Danila          NaN          1.0
99       NaN    NaN               JONES, Cullen          NaN          1.0
100      NaN    NaN            LAGUNOV, Evgeniy          NaN          1.0
101      NaN    NaN               BERENS, Ricky          NaN          1.0
102      NaN    NaN                LURZ, Thomas          NaN          1.0
103      NaN    NaN             MALLET, Gregory          NaN          1.0
104      NaN    NaN                  ZHANG, Lin          NaN          1.0

[105 rows x 5 columns]

In [105]:
men2008.set_index('Athlete',inplace=True)

In [108]:
#merge method is quite versatile indeed.
men2004.merge(men2008,how= 'outer',left_on='Name',right_index=True,suffixes=('_2004','_2008'),indicator=True)

,level_0,index,Name,Medals_2004,Medals_2008,_merge
0,0.0,0.0,"PHELPS, Michael",8.0,8.0,both
1,1.0,1.0,"THORPE, Ian",4.0,NaN,left_only
2,2.0,2.0,"SCHOEMAN, Roland",3.0,NaN,left_only
3,3.0,3.0,"PEIRSOL, Aaron",3.0,3.0,both
4,4.0,4.0,"CROCKER, Ian",3.0,1.0,both
5,5.0,5.0,"KITAJIMA, Kosuke",3.0,3.0,both
6,6.0,6.0,"HANSEN, Brendan",3.0,1.0,both
7,7.0,7.0,"VAN DEN HOOGENBAND, Pieter",3.0,NaN,left_only
8,8.0,8.0,"HACKETT, Grant",3.0,2.0,both
9,9.0,9.0,"MORITA, Tomomi",2.0,NaN,left_only
10,10.0,10.0,"LEZAK, Jason",2.0,3.0,both
11,11.0,11.0,"ROGAN, Markus",2.0,NaN,left_only
12,12.0,12.0,"KELLER, Klete",2.0,1.0,both
13,13.0,13.0,"HALL, Gary Jr.",2.0,NaN,left_only
14,14.0,14.0,"LOCHTE, Ryan",2.0,4.0,both
15,15.0,15.0,"WALKER, Neil",2.0,NaN,left_only
16,16.0,16.0,"YAMAMOTO, Takashi",2.0,NaN,left_only
17,17.0,17.0,"SPRENGER, Nicholas",1.0,NaN,left_only
18,18.0,18.0,"OKUMURA, Yoshihiro",1.0,NaN,left_only
19,19.0,19.0,"PARRY, Stephen",1.0,NaN,left_only
20,20.0,20.0,"PEARSON, Todd",1.0,NaN,left_only
21,21.0,21.0,"ZASTROW, Mitja",1.0,NaN,left_only
22,22.0,22.0,"PELLICIARI, Matteo",1.0,NaN,left_only
23,23.0,23.0,"WOODWARD, Gabe",1.0,NaN,left_only
24,24.0,24.0,"SERDINOV, Andriy",1.0,NaN,left_only
25,25.0,25.0,"VENDT, Erik",1.0,1.0,both
26,26.0,26.0,"ROSOLINO, Massimiliano",1.0,NaN,left_only
27,27.0,27.0,"VEENS, Mark Hermanus",1.0,NaN,left_only
28,28.0,28.0,"RUPPRATH, Thomas",1.0,NaN,left_only
29,29.0,29.0,"VANDERKAAY, Peter",1.0,2.0,both
...,...,...,...,...,...,...
58,NaN,NaN,"ADRIAN, Nathan",NaN,1.0,right_only
58,NaN,NaN,"PINE, Adam",NaN,1.0,right_only
58,NaN,NaN,"POLISHCHUK, Mikhail",NaN,1.0,right_only
58,NaN,NaN,"SATO, Hisayoshi",NaN,1.0,right_only
58,NaN,NaN,"SPRENGER, Christian",NaN,1.0,right_only
58,NaN,NaN,"MIYASHITA, Junichi",NaN,1.0,right_only
58,NaN,NaN,"SUKHORUKOV, Alexander",NaN,1.0,right_only
58,NaN,NaN,"VAN DER WEIJDEN, Maarten",NaN,1.0,right_only
58,NaN,NaN,"WALTERS, David",NaN,1.0,right_only
58,NaN,NaN,"WILDMAN-TOBRINER, Ben",NaN,1.0,right_only
58,NaN,NaN,"STEIMETZ, Boris",NaN,1.0,right_only
58,NaN,NaN,"LOBINTSEV, Nikita",NaN,1.0,right_only
58,NaN,NaN,"MELLOULI, Oussama",NaN,1.0,right_only
58,NaN,NaN,"MATSUDA, Takeshi",NaN,1.0,right_only
58,NaN,NaN,"BOUSQUET, Frederick",NaN,1.0,right_only
58,NaN,NaN,"BRITS, Grant",NaN,1.0,right_only
58,NaN,NaN,"CALLUS, Ashley",NaN,1.0,right_only
58,NaN,NaN,"CAVIC, Milorad",NaN,1.0,right_only
58,NaN,NaN,"COCHRANE, Ryan",NaN,1.0,right_only
58,NaN,NaN,"DELANEY, Ashley",NaN,1.0,right_only
58,NaN,NaN,"FFROST, Nick",NaN,1.0,right_only
58,NaN,NaN,"FUJII, Takuro",NaN,1.0,right_only
58,NaN,NaN,"GILOT, Fabien",NaN,1.0,right_only
58,NaN,NaN,"IZOTOV, Danila",NaN,1.0,right_only
58,NaN,NaN,"JONES, Cullen",NaN,1.0,right_only
58,NaN,NaN,"LAGUNOV, Evgeniy",NaN,1.0,right_only
58,NaN,NaN,"BERENS, Ricky",NaN,1.0,right_only
58,NaN,NaN,"LURZ, Thomas",NaN,1.0,right_only
58,NaN,NaN,"MALLET, Gregory",NaN,1.0,right_only
58,NaN,NaN,"ZHANG, Lin",NaN,1.0,right_only

#### joining more than one column

In [113]:

men2004=pd.read_csv('men2004_det.csv')#slightly more complex data.
men2008=pd.read_csv('men2008_det.csv')

In [111]:
men2004.loc[men2004.Athlete == 'PHELPS, Michael']#Phelps for example.

            Athlete   Medal  Count
50  PHELPS, Michael  Bronze      2
51  PHELPS, Michael    Gold      6

In [117]:
men2008.loc[men2008.Athlete == 'PHELPS, Michael']

            Athlete Medal  Count
54  PHELPS, Michael  Gold      8

In [119]:
men0408.loc[men0408.Athlete == 'PHELPS, Michael']#not the intention.

            Athlete Medal_2004  Count_2004 Medal_2008  Count_2008 _merge
59  PHELPS, Michael     Bronze         2.0       Gold         8.0   both
60  PHELPS, Michael       Gold         6.0       Gold         8.0   both

In [114]:
men0408= men2004.merge(men2008,how= 'outer',on='Athlete',suffixes=('_2004','_2008'),indicator=True)

In [115]:
men0408

,Athlete,Medal_2004,Count_2004,Medal_2008,Count_2008,_merge
0,"BOVELL, George",Bronze,1.0,NaN,NaN,left_only
1,"BREMBILLA, Emiliano",Bronze,1.0,NaN,NaN,left_only
2,"CAPPELLAZZO, Federico",Bronze,1.0,NaN,NaN,left_only
3,"CERCATO, Simone",Bronze,1.0,NaN,NaN,left_only
4,"CONRAD, Lars",Silver,1.0,NaN,NaN,left_only
5,"CROCKER, Ian",Bronze,1.0,Gold,1.0,both
6,"CROCKER, Ian",Gold,1.0,Gold,1.0,both
7,"CROCKER, Ian",Silver,1.0,Gold,1.0,both
8,"CSEH, Laszlo",Bronze,1.0,Silver,3.0,both
9,"DAVIES, David",Bronze,1.0,Silver,1.0,both
10,"DRAGANJA, Duje",Silver,1.0,NaN,NaN,left_only
11,"DRIESEN, Steffen",Silver,1.0,NaN,NaN,left_only
12,"DUBOSCQ, Hugues",Bronze,1.0,Bronze,2.0,both
13,"DUSING, Nate",Bronze,1.0,NaN,NaN,left_only
14,"FERNS, Lyndon",Gold,1.0,NaN,NaN,left_only
15,"FLOREA, Razvan Ionut",Bronze,1.0,NaN,NaN,left_only
16,"GANGLOFF, Mark",Gold,1.0,Gold,1.0,both
17,"GOLDBLATT, Scott",Gold,1.0,NaN,NaN,left_only
18,"GYURTA, Daniel",Silver,1.0,NaN,NaN,left_only
19,"HACKETT, Grant",Gold,1.0,Bronze,1.0,both
20,"HACKETT, Grant",Gold,1.0,Silver,1.0,both
21,"HACKETT, Grant",Silver,2.0,Bronze,1.0,both
22,"HACKETT, Grant",Silver,2.0,Silver,1.0,both
23,"HALL, Gary Jr.",Bronze,1.0,NaN,NaN,left_only
24,"HALL, Gary Jr.",Gold,1.0,NaN,NaN,left_only
25,"HANSEN, Brendan",Bronze,1.0,Gold,1.0,both
26,"HANSEN, Brendan",Gold,1.0,Gold,1.0,both
27,"HANSEN, Brendan",Silver,1.0,Gold,1.0,both
28,"JENSEN, Larsen",Silver,1.0,Bronze,1.0,both
29,"KELLER, Klete",Bronze,1.0,Gold,1.0,both
...,...,...,...,...,...,...
112,"LOBINTSEV, Nikita",NaN,NaN,Silver,1.0,right_only
113,"LURZ, Thomas",NaN,NaN,Bronze,1.0,right_only
114,"MALLET, Gregory",NaN,NaN,Silver,1.0,right_only
115,"MATSUDA, Takeshi",NaN,NaN,Bronze,1.0,right_only
116,"MELLOULI, Oussama",NaN,NaN,Gold,1.0,right_only
117,"MIYASHITA, Junichi",NaN,NaN,Bronze,1.0,right_only
118,"MURPHY, Patrick",NaN,NaN,Bronze,2.0,right_only
119,"OEN, Alexander Dale",NaN,NaN,Silver,1.0,right_only
120,"PALMER, Kirk",NaN,NaN,Bronze,1.0,right_only
121,"PARK, Taehwan",NaN,NaN,Gold,1.0,right_only
122,"PARK, Taehwan",NaN,NaN,Silver,1.0,right_only
123,"PINE, Adam",NaN,NaN,Silver,1.0,right_only
124,"POLISHCHUK, Mikhail",NaN,NaN,Silver,1.0,right_only
125,"RICKARD, Brenton",NaN,NaN,Silver,2.0,right_only
126,"SATO, Hisayoshi",NaN,NaN,Bronze,1.0,right_only
127,"SPRENGER, Christian",NaN,NaN,Silver,1.0,right_only
128,"STEIMETZ, Boris",NaN,NaN,Silver,1.0,right_only
129,"STOECKEL, Hayden",NaN,NaN,Bronze,1.0,right_only
130,"STOECKEL, Hayden",NaN,NaN,Silver,1.0,right_only
131,"SUKHORUKOV, Alexander",NaN,NaN,Silver,1.0,right_only
132,"SULLIVAN, Eamon",NaN,NaN,Bronze,1.0,right_only
133,"SULLIVAN, Eamon",NaN,NaN,Silver,2.0,right_only
134,"TARGETT, Matt",NaN,NaN,Bronze,1.0,right_only
135,"TARGETT, Matt",NaN,NaN,Silver,1.0,right_only
136,"VAN DER WEIJDEN, Maarten",NaN,NaN,Gold,1.0,right_only
137,"VYATCHANIN, Arkady",NaN,NaN,Bronze,2.0,right_only
138,"WALTERS, David",NaN,NaN,Gold,1.0,right_only
139,"WEBER-GALE, Garrett",NaN,NaN,Gold,2.0,right_only
140,"WILDMAN-TOBRINER, Ben",NaN,NaN,Gold,1.0,right_only
141,"ZHANG, Lin",NaN,NaN,Silver,1.0,right_only

In [120]:
men0408= men2004.merge(men2008,how= 'outer',on=['Athlete','Medal'],suffixes=('_2004','_2008'),indicator=True)

In [121]:
men0408.loc[men0408.Athlete == 'PHELPS, Michael']#This was the intention.
#sometimes more than one column.

            Athlete   Medal  Count_2004  Count_2008     _merge
50  PHELPS, Michael  Bronze         2.0         NaN  left_only
51  PHELPS, Michael    Gold         6.0         8.0       both

In [122]:
men0408= men2004.merge(men2008,how= 'inner',on=['Athlete','Medal'],suffixes=('_2004','_2008'),indicator=True)

In [123]:
men0408.loc[men0408.Athlete == 'PHELPS, Michael']

            Athlete Medal  Count_2004  Count_2008 _merge
12  PHELPS, Michael  Gold           6           8   both

#### pd.merge and join

In [125]:
men2004 = pd.read_csv('men2004.csv',index_col='Athlete')
men2008 = pd.read_csv('men2008.csv',index_col='Athlete')

In [127]:
men2004.merge(men2008,how= 'outer',on='Athlete',suffixes=('_2004','_2008'),indicator=True)

                            Medals_2004  Medals_2008      _merge
Athlete
PHELPS, Michael                     8.0          8.0        both
THORPE, Ian                         4.0          NaN   left_only
SCHOEMAN, Roland                    3.0          NaN   left_only
PEIRSOL, Aaron                      3.0          3.0        both
CROCKER, Ian                        3.0          1.0        both
KITAJIMA, Kosuke                    3.0          3.0        both
HANSEN, Brendan                     3.0          1.0        both
VAN DEN HOOGENBAND, Pieter          3.0          NaN   left_only
HACKETT, Grant                      3.0          2.0        both
MORITA, Tomomi                      2.0          NaN   left_only
LEZAK, Jason                        2.0          3.0        both
ROGAN, Markus                       2.0          NaN   left_only
KELLER, Klete                       2.0          1.0        both
HALL, Gary Jr.                      2.0          NaN   left_only
LOCHTE, Ryan                        2.0          4.0        both
WALKER, Neil                        2.0          NaN   left_only
YAMAMOTO, Takashi                   2.0          NaN   left_only
SPRENGER, Nicholas                  1.0          NaN   left_only
OKUMURA, Yoshihiro                  1.0          NaN   left_only
PARRY, Stephen                      1.0          NaN   left_only
PEARSON, Todd                       1.0          NaN   left_only
ZASTROW, Mitja                      1.0          NaN   left_only
PELLICIARI, Matteo                  1.0          NaN   left_only
WOODWARD, Gabe                      1.0          NaN   left_only
SERDINOV, Andriy                    1.0          NaN   left_only
VENDT, Erik                         1.0          1.0        both
ROSOLINO, Massimiliano              1.0          NaN   left_only
VEENS, Mark Hermanus                1.0          NaN   left_only
RUPPRATH, Thomas                    1.0          NaN   left_only
VANDERKAAY, Peter                   1.0          2.0        both
...                                 ...          ...         ...
ADRIAN, Nathan                      NaN          1.0  right_only
PINE, Adam                          NaN          1.0  right_only
POLISHCHUK, Mikhail                 NaN          1.0  right_only
SATO, Hisayoshi                     NaN          1.0  right_only
SPRENGER, Christian                 NaN          1.0  right_only
MIYASHITA, Junichi                  NaN          1.0  right_only
SUKHORUKOV, Alexander               NaN          1.0  right_only
VAN DER WEIJDEN, Maarten            NaN          1.0  right_only
WALTERS, David                      NaN          1.0  right_only
WILDMAN-TOBRINER, Ben               NaN          1.0  right_only
STEIMETZ, Boris                     NaN          1.0  right_only
LOBINTSEV, Nikita                   NaN          1.0  right_only
MELLOULI, Oussama                   NaN          1.0  right_only
MATSUDA, Takeshi                    NaN          1.0  right_only
BOUSQUET, Frederick                 NaN          1.0  right_only
BRITS, Grant                        NaN          1.0  right_only
CALLUS, Ashley                      NaN          1.0  right_only
CAVIC, Milorad                      NaN          1.0  right_only
COCHRANE, Ryan                      NaN          1.0  right_only
DELANEY, Ashley                     NaN          1.0  right_only
FFROST, Nick                        NaN          1.0  right_only
FUJII, Takuro                       NaN          1.0  right_only
GILOT, Fabien                       NaN          1.0  right_only
IZOTOV, Danila                      NaN          1.0  right_only
JONES, Cullen                       NaN          1.0  right_only
LAGUNOV, Evgeniy                    NaN          1.0  right_only
BERENS, Ricky                       NaN          1.0  right_only
LURZ, Thomas                        NaN          1.0  right_only
MALLET, Gregory                     NaN          1.0  right_only
ZHANG, Lin                          NaN          1.0  right_only

[105 rows x 3 columns]

In [128]:
#direct pandas method pd.merge()
pd.merge(men2004,men2008,how= 'outer',on='Athlete',suffixes=('_2004','_2008'),indicator=True)

                            Medals_2004  Medals_2008      _merge
Athlete
PHELPS, Michael                     8.0          8.0        both
THORPE, Ian                         4.0          NaN   left_only
SCHOEMAN, Roland                    3.0          NaN   left_only
PEIRSOL, Aaron                      3.0          3.0        both
CROCKER, Ian                        3.0          1.0        both
KITAJIMA, Kosuke                    3.0          3.0        both
HANSEN, Brendan                     3.0          1.0        both
VAN DEN HOOGENBAND, Pieter          3.0          NaN   left_only
HACKETT, Grant                      3.0          2.0        both
MORITA, Tomomi                      2.0          NaN   left_only
LEZAK, Jason                        2.0          3.0        both
ROGAN, Markus                       2.0          NaN   left_only
KELLER, Klete                       2.0          1.0        both
HALL, Gary Jr.                      2.0          NaN   left_only
LOCHTE, Ryan                        2.0          4.0        both
WALKER, Neil                        2.0          NaN   left_only
YAMAMOTO, Takashi                   2.0          NaN   left_only
SPRENGER, Nicholas                  1.0          NaN   left_only
OKUMURA, Yoshihiro                  1.0          NaN   left_only
PARRY, Stephen                      1.0          NaN   left_only
PEARSON, Todd                       1.0          NaN   left_only
ZASTROW, Mitja                      1.0          NaN   left_only
PELLICIARI, Matteo                  1.0          NaN   left_only
WOODWARD, Gabe                      1.0          NaN   left_only
SERDINOV, Andriy                    1.0          NaN   left_only
VENDT, Erik                         1.0          1.0        both
ROSOLINO, Massimiliano              1.0          NaN   left_only
VEENS, Mark Hermanus                1.0          NaN   left_only
RUPPRATH, Thomas                    1.0          NaN   left_only
VANDERKAAY, Peter                   1.0          2.0        both
...                                 ...          ...         ...
ADRIAN, Nathan                      NaN          1.0  right_only
PINE, Adam                          NaN          1.0  right_only
POLISHCHUK, Mikhail                 NaN          1.0  right_only
SATO, Hisayoshi                     NaN          1.0  right_only
SPRENGER, Christian                 NaN          1.0  right_only
MIYASHITA, Junichi                  NaN          1.0  right_only
SUKHORUKOV, Alexander               NaN          1.0  right_only
VAN DER WEIJDEN, Maarten            NaN          1.0  right_only
WALTERS, David                      NaN          1.0  right_only
WILDMAN-TOBRINER, Ben               NaN          1.0  right_only
STEIMETZ, Boris                     NaN          1.0  right_only
LOBINTSEV, Nikita                   NaN          1.0  right_only
MELLOULI, Oussama                   NaN          1.0  right_only
MATSUDA, Takeshi                    NaN          1.0  right_only
BOUSQUET, Frederick                 NaN          1.0  right_only
BRITS, Grant                        NaN          1.0  right_only
CALLUS, Ashley                      NaN          1.0  right_only
CAVIC, Milorad                      NaN          1.0  right_only
COCHRANE, Ryan                      NaN          1.0  right_only
DELANEY, Ashley                     NaN          1.0  right_only
FFROST, Nick                        NaN          1.0  right_only
FUJII, Takuro                       NaN          1.0  right_only
GILOT, Fabien                       NaN          1.0  right_only
IZOTOV, Danila                      NaN          1.0  right_only
JONES, Cullen                       NaN          1.0  right_only
LAGUNOV, Evgeniy                    NaN          1.0  right_only
BERENS, Ricky                       NaN          1.0  right_only
LURZ, Thomas                        NaN          1.0  right_only
MALLET, Gregory                     NaN          1.0  right_only
ZHANG, Lin                          NaN          1.0  right_only

[105 rows x 3 columns]

In [130]:
#when both indexes have same index names. Here in this case 'Athlete'
#aslo we can not have indictor for left_only right_only
#join can only join on index, without indicator column.
men2004.join(men2008, how ='outer',lsuffix= '_2004', rsuffix= '_2008')

                            Medals_2004  Medals_2008
Athlete
ADRIAN, Nathan                      NaN          1.0
BERENS, Ricky                       NaN          1.0
BERNARD, Alain                      NaN          3.0
BOUSQUET, Frederick                 NaN          1.0
BOVELL, George                      1.0          NaN
BREMBILLA, Emiliano                 1.0          NaN
BRITS, Grant                        NaN          1.0
BRODIE, Leith                       NaN          2.0
CALLUS, Ashley                      NaN          1.0
CAPPELLAZZO, Federico               1.0          NaN
CAVIC, Milorad                      NaN          1.0
CERCATO, Simone                     1.0          NaN
CIELO FILHO, Cesar                  NaN          2.0
COCHRANE, Ryan                      NaN          1.0
CONRAD, Lars                        1.0          NaN
CROCKER, Ian                        3.0          1.0
CSEH, Laszlo                        1.0          3.0
DAVIES, David                       1.0          1.0
DELANEY, Ashley                     NaN          1.0
DRAGANJA, Duje                      1.0          NaN
DRIESEN, Steffen                    1.0          NaN
DUBOSCQ, Hugues                     1.0          2.0
DUSING, Nate                        1.0          NaN
FERNS, Lyndon                       1.0          NaN
FFROST, Nick                        NaN          1.0
FLOREA, Razvan Ionut                1.0          NaN
FUJII, Takuro                       NaN          1.0
GANGLOFF, Mark                      1.0          1.0
GILOT, Fabien                       NaN          1.0
GOLDBLATT, Scott                    1.0          NaN
...                                 ...          ...
ROSOLINO, Massimiliano              1.0          NaN
RUPPRATH, Thomas                    1.0          NaN
SATO, Hisayoshi                     NaN          1.0
SCHOEMAN, Roland                    3.0          NaN
SERDINOV, Andriy                    1.0          NaN
SPRENGER, Christian                 NaN          1.0
SPRENGER, Nicholas                  1.0          NaN
STEIMETZ, Boris                     NaN          1.0
STEVENS, Craig                      1.0          NaN
STOECKEL, Hayden                    NaN          2.0
SUKHORUKOV, Alexander               NaN          1.0
SULLIVAN, Eamon                     NaN          3.0
TARGETT, Matt                       NaN          2.0
THORPE, Ian                         4.0          NaN
TOWNSEND, Darian                    1.0          NaN
VAN DEN HOOGENBAND, Pieter          3.0          NaN
VAN DER WEIJDEN, Maarten            NaN          1.0
VANDERKAAY, Peter                   1.0          2.0
VEENS, Mark Hermanus                1.0          NaN
VENDT, Erik                         1.0          1.0
VYATCHANIN, Arkady                  NaN          2.0
WALKER, Neil                        2.0          NaN
WALTERS, David                      NaN          1.0
WEBER-GALE, Garrett                 NaN          2.0
WILDMAN-TOBRINER, Ben               NaN          1.0
WOODWARD, Gabe                      1.0          NaN
YAMAMOTO, Takashi                   2.0          NaN
ZASTROW, Mitja                      1.0          NaN
ZHANG, Lin                          NaN          1.0
ZWERING, Klaas-Erik                 1.0          NaN

[105 rows x 2 columns]

In [132]:
men2008

                          Medals
Athlete
PHELPS, Michael                8
LOCHTE, Ryan                   4
BERNARD, Alain                 3
SULLIVAN, Eamon                3
LAUTERSTEIN, Andrew            3
GREVERS, Matt                  3
LEZAK, Jason                   3
CSEH, Laszlo                   3
KITAJIMA, Kosuke               3
PEIRSOL, Aaron                 3
RICKARD, Brenton               2
LEVEAUX, Amaury                2
HACKETT, Grant                 2
STOECKEL, Hayden               2
TARGETT, Matt                  2
DUBOSCQ, Hugues                2
VANDERKAAY, Peter              2
PARK, Taehwan                  2
CIELO FILHO, Cesar             2
VYATCHANIN, Arkady             2
BRODIE, Leith                  2
WEBER-GALE, Garrett            2
MURPHY, Patrick                2
OEN, Alexander Dale            1
PALMER, Kirk                   1
ADRIAN, Nathan                 1
PINE, Adam                     1
POLISHCHUK, Mikhail            1
SATO, Hisayoshi                1
SPRENGER, Christian            1
...                          ...
VAN DER WEIJDEN, Maarten       1
VENDT, Erik                    1
WALTERS, David                 1
WILDMAN-TOBRINER, Ben          1
STEIMETZ, Boris                1
LOBINTSEV, Nikita              1
MELLOULI, Oussama              1
MATSUDA, Takeshi               1
BOUSQUET, Frederick            1
BRITS, Grant                   1
CALLUS, Ashley                 1
CAVIC, Milorad                 1
COCHRANE, Ryan                 1
CROCKER, Ian                   1
DAVIES, David                  1
DELANEY, Ashley                1
FFROST, Nick                   1
FUJII, Takuro                  1
GANGLOFF, Mark                 1
GILOT, Fabien                  1
HANSEN, Brendan                1
IZOTOV, Danila                 1
JENSEN, Larsen                 1
JONES, Cullen                  1
KELLER, Klete                  1
LAGUNOV, Evgeniy               1
BERENS, Ricky                  1
LURZ, Thomas                   1
MALLET, Gregory                1
ZHANG, Lin                     1

[62 rows x 1 columns]